{
  "basePath": "/api/v1/",
  "definitions": {
    "ErrResponse": {
      "properties": {
        "error": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "OkResponse": {
      "properties": {
        "OK": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Token": {
      "properties": {
        "token": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "about": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "fullname": {
          "type": "string"
        },
        "nickname": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserAuthRequest": {
      "properties": {
        "auth_date": {
          "type": "string"
        },
        "first_name": {
          "type": "string"
        },
        "hash": {
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "integer"
        },
        "last_name": {
          "type": "string"
        },
        "photo_url": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "getme.me",
  "info": {
    "contact": {
      "email": "varindv@gmail.com"
    },
    "description": "Приложение для поиска менторов с целью изучения информационных технологий.",
    "title": "GetMe App",
    "version": "1.0.0"
  },
  "paths": {
    "/auth": {
      "get": {
        "description": "Получение сессии после аутентефикации через Телеграм",
        "parameters": [
          {
            "description": "Токен, подтверждающий авторизацию через телеграм",
            "in": "query",
            "name": "Token",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Успешная авторизация, выставление сессионной куки"
          },
          "400": {
            "description": "Ошибка в запросе - не указан токен / указан невалидный токен",
            "schema": {
              "$ref": "#/definitions/ErrResponse"
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "schema": {
              "$ref": "#/definitions/ErrResponse"
            }
          },
          "503": {
            "description": "Ошибка - метод недоступен",
            "schema": {
              "$ref": "#/definitions/ErrResponse"
            }
          }
        },
        "summary": "Получение сессии",
        "tags": [
          "auth"
        ]
      }
    },
    "/auth/token": {
      "get": {
        "description": "Получение токена для подтверждения аутентификации через телеграм",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Успешная авторизация, выставление сессионной куки",
            "schema": {
              "$ref": "#/definitions/Token"
            }
          },
          "500": {
            "description": "Ошибка сервера",
            "schema": {
              "$ref": "#/definitions/ErrResponse"
            }
          },
          "503": {
            "description": "Ошибка - метод недоступен",
            "schema": {
              "$ref": "#/definitions/ErrResponse"
            }
          }
        },
        "summary": "Получение токена",
        "tags": [
          "auth"
        ]
      }
    }
  },
  "schemes": [
    "https",
    "http"
  ],
  "swagger": "2.0",
  "tags": [
    {
      "description": "Взаимодействия с менторами",
      "name": "mentor"
    },
    {
      "description": "Взаимодействия с планом развития",
      "name": "plan"
    },
    {
      "description": "Взаимодействие с пользователем",
      "name": "user"
    },
    {
      "description": "Аутентификация",
      "name": "auth"
    }
  ]
}