swagger: "2.0"
info:
  description: "Приложение для поиска менторов с целью изучения информационных технологий."
  version: "1.0.0"
  title: "GetMe App"
  contact:
    email: "varindv@gmail.com"
host: "getme.me"
basePath: "/api/v1/"
tags:
  - name: "mentor"
    description: "Взаимодействия с менторами"
  - name: "plan"
    description: "Взаимодействия с планом развития"
  - name: "user"
    description: "Взаимодействие с пользователем"
  - name: "auth"
    description: "Аутентификация"
schemes:
  - "https"
  - "http"
paths:
  /auth:
    get:
      tags:
        - "auth"
      summary: "Получение сессии"
      description: "Получение сессии после аутентефикации через Телеграм"
      produces:
        - "application/json"
      parameters:
        - name: "Token"
          in: "query"
          description: "Токен, подтверждающий авторизацию через телеграм"
          required: true
          type: "string"

      responses:
        "200":
          description: "Успешная авторизация, выставление сессионной куки"
        "500":
          description: "Ошибка сервера"
          schema:
            $ref: '#/definitions/ErrResponse'
        "400":
          description: "Ошибка в запросе - не указан токен / указан невалидный токен"
          schema:
            $ref: '#/definitions/ErrResponse'
        "503":
          description: "Ошибка - метод недоступен"
          schema:
            $ref: '#/definitions/ErrResponse'
  /auth/token:
    get:
      tags:
        - "auth"
      summary: "Получение токена"
      description: "Получение токена для подтверждения аутентификации через телеграм"
      produces:
        - "application/json"
      responses:
        "200":
          description: "Успешная авторизация, выставление сессионной куки"
          schema:
            $ref: '#/definitions/Token'
        "500":
          description: "Ошибка сервера"
          schema:
            $ref: '#/definitions/ErrResponse'
        "503":
          description: "Ошибка - метод недоступен"
          schema:
            $ref: '#/definitions/ErrResponse'
  /auth/check:
    get:
      tags:
        - "auth"
      summary: "Проверка авторизации"
      description: "Проверка авторизации через телеграм"
      produces:
        - "application/json"
      consumes:
        - "application/json"
      parameters:
        - name: "UserAuthRequest"
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserAuthRequest'
      responses:
        "201":
          description: "Пользователь создан, проверка аутентификации успешна"
          schema:
            $ref: '#/definitions/User'
        "404":
          description: "Pet not found"
        "405":
          description: "Validation exception"


definitions:
  ErrResponse:
    properties:
      error:
        type: string
    type: object
  OkResponse:
    properties:
      OK:
        type: string
    type: object
  Token:
    type: "object"
    properties:
      token:
        type: "string"
  UserAuthRequest:
    type: "object"
    properties:
      token:
        type: "string"
      id:
        type: "integer"
        format: "int64"
      auth_date:
        type: "string"
      first_name:
        type: "string"
      last_name:
        type: "string"
      username:
        type: "string"
      photo_url:
        type: "string"
      hash:
        type: "string"
  User:
    type: "object"
    properties:
      nickname:
        type: "string"
      fullname:
        type: "string"
      about:
        type: "string"
      email:
        type: "string"
